.themed-background {
 
  position: relative;
  min-height: 100vh;
  margin: 0;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
.themed-background::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/public/images/bg.jfif") no-repeat center center;
  background-size: cover; /* بدل cover */
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.99;
  z-index: -1;

}